extends ../layout
include ../mixins/_editModuleForm

block content
    .container
        .row
            a(href="/syssel/modules").btn.btn-primary All Modules
        br
        .row
            div.col-sm-6
                +editModuleForm(ss_module=ss_module)
            div.col-sm-6
                div.panel.panel-default
                    div.panel-body
                        h2 Sub-Modules
                        button(data-toggle="modal", data-target="#addSubModule").btn.btn-primary Add Sub-Module
                        table#table.table.table-striped.table-condensed
    div(role="dialog")#addSubModule.modal.fade
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button(type="button", data-dismiss="modal").close &times;
                    h4.modal-title Add Sub-Module
                div.modal-body
                    form(action="/api/syssel/add_sub_module/" + ss_module.id, method="post").form-horizontal
                        div.form-group
                            label(for="sub_module_name").control-label.col-sm-3 Module Name
                            div.col-sm-9
                                input(type="text", autofocus=true, placeholder="Module Name", name="sub_module_name").form-control
                        div.form-group
                            label(for="sub_module_description").control-label.col-sm-3 Description
                            div.col-sm-9
                                textarea(rows="5", name="sub_module_description").form-control
                        div.form-group
                            div.col-sm-9.col-sm-offset-3
                                button(type="submit").btn.btn-primary Save
                div.modal-footer
                    button(type="button", data-dismiss="modal").btn.btn-default Close

block scripts
    <!-- BOOTSTRAP TABLE -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

    <!-- EXPORT -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>


    <!-- FILTER -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/extensions/filter-control/bootstrap-table-filter-control.js"></script>

    <!-- EDITABLE -->
    <link rel="stylesheet" href="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/extensions/editable/bootstrap-table-editable.js"></script>
    <script src="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>

    <!-- MODULE SUB-MODULES.js -->
    script(src="../../javascript/syssel/moduleSubModules.js")