html
  head
    title= `${title} | OMS`
    link(rel='icon', href='/images/favicon.ico')
    link(rel='stylesheet', href='/css/oms.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js")

  body
    block navbar
      nav.navbar.navbar-default.fixed-top
        div.container-fluid
          div.navbar-header
            a.navbar-brand(href="/") OMS
          div.collapse.navbar-collapse
            if user
              ul.nav.navbar-nav
                li.dropdown
                  a.dropdown-toggle(href="#", data-toggle="dropdown" role="button") Admin
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href="/admin/roles") Roles
                    li
                      a(href="/admin/users") Users
                    li
                      a(href="/admin/industries") Industries
              ul.nav.navbar-nav
                li.dropdown
                  a.dropdown-toggle(href="#", data-toggle="dropdown" role="button") Solutions
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href="/syssel/vendors") Vendors
                    li
                      a(href="/syssel/systems") Systems

                    li(role='separator').divider
                    li
                      a(href="/syssel/categories") Categories
                    li
                      a(href="/syssel/modules") Modules
                    li
                      a(href="/syssel/features") Features
              ul.nav.navbar-nav
                li.dropdown
                  a.dropdown-toggle(href="#", data-toggle="dropdown" role="button") Process Framework
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href="/entarch/capabilities") Business Capabilities
                    li
                      a(href="/entarch/metrics") Metrics
                    li
                      a(href="/entarch/requirements") Solution Requirements
              ul.nav.navbar-nav
                li.dropdown
                  a.dropdown-toggle(href="#", data-toggle="dropdown" role="button") Optimum
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href="/optimum/clients") Clients
                    li
                      a(href="/optimum/projects") Projects
                    li
                      a(href="/optimum/prime") PRIME
              ul.nav.navbar-nav
                li.dropdown
                  a.dropdown-toggle(href="#", data-toggle="dropdown" role="button") Journey
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href="/journey/journeys") Journeys
                    li
                      a(href="/journey/categories") Evaluation Categories
            ul.nav.navbar-nav.navbar-right
              if user
                li
                  a(href="/auth/logout") Logout #{user.email}
              else
                li
                  a(href="/auth/azure") Login (Azure)
                li
                  a(href="/auth/login") Login

    block messages
      if locals.flashes
        - const categories = Object.keys(locals.flashes)
        each category in categories
          each message in flashes[category]
            div.container
              div(class=`alert-dismissable alert alert-${category}`) #{message}
                a(href="#", data-dismiss="alert").close &times;

    block updateMessage
        .container-fluid
            div#update_message.text-center.hidden

    block content
      .container
        .row
          .col-sm-12
            h1 Welcome to the Optimum Management System
    block footer
        br
        .container-fluid
            div.col-sm-offset-1
              div &copy; 2018 Optimum PPS.

    block scripts
